.xyFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-link {
    float: right;
    font-size: 12px;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.right-0 {
    right: 0 !important;
}

.top-0 {
    top: 0 !important;
}

@import '@/styles/mixin.scss';

[theme="dark"] {
    @include theme-dark
}

[theme="light"] {
    @include theme-light
}