.xyFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-link{
    float: right;
    font-size: 12px;
}

.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.right-0 {
    right: 0 !important;
} 
.top-0 {
    top: 0 !important;
}
:root {
    --color-bg-default:#ffffff;
    --color-font-default:#ffffff;
    --color-border-default:#d0d7de;
    --color-font-black:#000000;
    --size-font-default:16px;
}