// @import "./testTheme.scss";


@mixin theme-light {
    --test-var-color: #ffffff
}

@mixin theme-dark {
    --test-var-color: #000000
}

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }